{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_IP_ANONYM_MAIN') }}</h1>

<p>{{ lang('ACP_IP_ANONYM_MAIN_EXPLAIN') }}</p>

<form id="acp_ipanonym" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_IP_ANONYM_MAIN_SETTINGS')}}</legend>
		<p>{{ lang('ACP_IP_ANONYM_MAIN_SETTINGS_EXPLAIN')}}</p>

		<dl>
			<dt><label for="crizzo_ipanonym_enable">{{ lang('ACP_IP_ANONYM_ENABLE')}}{{ lang('COLON') }}</label><br><span>{{ lang('ACP_IP_ANONYM_ENABLE_EXPLAIN')}}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="crizzo_ipanonym_enable" name="crizzo_ipanonym_enable" value="1" {% if IP_ANONYM_ENABLED %} checked {% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="crizzo_ipanonym_enable" value="0" {% if not IP_ANONYM_ENABLED %} checked {% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="crizzo_ipanonym_max_age">{{ lang('ACP_IP_ANONYM_MAX_AGE')}}{{ lang('COLON') }}</label><br><span>{{ lang('ACP_IP_ANONYM_MAX_AGE_EXPLAIN')}}</span></dt>
			<dd><input id="crizzo_ipanonym_max_age" type="number" min="1" max="9999" name="crizzo_ipanonym_max_age" value="{{ IP_ANONYM_MAX_AGE_VALUE }}"> {{ lang('ACP_IP_ANONYM_DAYS') }}</dd>
		</dl>

		<dl>
			<dt><label for="crizzo_ipanonym_sql_query_runs">{{ lang('ACP_IP_ANONYM_QUERY_RUNS')}}{{ lang('COLON') }}</label><br><span>{{ lang('ACP_IP_ANONYM_QUERY_RUNS_EXPLAIN')}}</span></dt>
			<dd><input id="crizzo_ipanonym_sql_query_runs" type="number" min="1" max="9999" name="crizzo_ipanonym_sql_query_runs" value="{{ ACP_IP_ANONYM_QUERY_RUNS_VALUE }}"></dd>
		</dl>

		<dl>
			<dt><label for="crizzo_ipanonym_should_run_time">{{ lang('ACP_IP_ANONYM_SHOULD_RUN_TIME')}}{{ lang('COLON') }}</label><br><span>{{ lang('ACP_IP_ANONYM_SHOULD_RUN_TIME_EXPLAIN')}}</span></dt>
			<dd><input id="crizzo_ipanonym_should_run_time" type="number" min="1" max="9999" name="crizzo_ipanonym_should_run_time" value="{{ ACP_IP_ANONYM_SHOULD_RUN_TIME_VALUE }}"> {{ lang('ACP_IP_ANONYM_MINUTES') }}</dd>
		</dl>

		<dl>
			<dt><label for="crizzo_ipanonym_log_add_entry">{{ lang('ACP_IP_ANONYM_LOG_ADD_ENTRY')}}{{ lang('COLON') }}</label><br><span>{{ lang('ACP_IP_ANONYM_LOG_ADD_ENTRY_EXPLAIN')}}</span></dt>
			<dd><input id="crizzo_ipanonym_log_add_entry" type="number" min="0" max="99999" name="crizzo_ipanonym_log_add_entry" value="{{ ACP_IP_ANONYM_LOG_ADD_ENTRY_VALUE }}"></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
